* {
    --md-default-fg-color: var(--colors-fg-1);
    --md-default-fg-color--light: var(--colors-fg-2);
    --md-default-fg-color--lighter: var(--colors-fg-3);
    --md-default-fg-color--lightest: var(--colors-fg-3);
    --md-default-bg-color: var(--colors-bg-1);
    --md-default-bg-color--light: var(--colors-bg-2);
    --md-default-bg-color--lighter: var(--colors-bg-3);
    --md-default-bg-color--lightest: var(--colors-bg-3);

    --md-primary-fg-color: var(--colors-accent);
    --md-primary-fg-color--light: var(--colors-accent-light);
    --md-primary-fg-color--dark: var(--colors-accent-dark);

    --md-accent-fg-color: var(--colors-accent-hover);
    --md-accent-fg-color--transparent: var(--colors-accent-hover-a10);

    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: var(--md-primary-fg-color);
    --md-typeset-mark-color: var(--colors-orange-alpha50);
    --md-typeset-del-color: hsla(6, 90%, 60%, 0.15);
    --md-typeset-ins-color: hsla(150, 90%, 44%, 0.15);
    --md-typeset-kbd-color: hsla(0, 0%, 98%, 1);
    --md-typeset-kbd-accent-color: hsla(0, 100%, 100%, 1);
    --md-typeset-kbd-border-color: hsla(0, 0%, 72%, 1);
    --md-typeset-table-color: hsla(0, 0%, 0%, 0.12);

    --md-admonition-fg-color: var(--colors-fg-1);
    --md-admonition-bg-color: var(--colors-bg-2);

    --md-footer-fg-color: var(--colors-fg-2);
    --md-footer-fg-color--light: var(--colors-fg-2);
    --md-footer-fg-color--lighter: var(--colors-fg-2);
    --md-footer-bg-color: var(--colors-bg-1);
    --md-footer-bg-color--dark: var(--colors-bg-1);
}