:root {
	--fusiondoc-grey-0: #000000;
	--fusiondoc-grey-1: #08001B;
	--fusiondoc-grey-2: #201432;
	--fusiondoc-grey-3: #36304f;
	--fusiondoc-grey-4: #544c68;
	--fusiondoc-grey-5: #716a87;
	--fusiondoc-grey-6: #9189a7;
	--fusiondoc-grey-7: #aeacc3;
	--fusiondoc-grey-8: #d2cede;
	--fusiondoc-grey-9: #F5F1FF;
	--fusiondoc-grey-10: #ffffff;

	--fusiondoc-grey-1-a80: #08001Bcc;
	--fusiondoc-grey-2-a80: #201432cc;
	--fusiondoc-grey-8-a80: #d2cedecc;
	--fusiondoc-grey-9-a80: #F5F1FFcc;

	--fusiondoc-orange: hsl(40, 100%, 50%);
	--fusiondoc-orange-p1: hsl(40, 100%, 60%);
	--fusiondoc-orange-p2: hsl(40, 100%, 80%);
	--fusiondoc-orange-n1: hsl(40, 100%, 40%);
	--fusiondoc-orange-n2: hsl(40, 100%, 20%);
	--fusiondoc-orange-a10: hsla(40, 100%, 50%, 10%);
	--fusiondoc-orange-a20: hsla(40, 100%, 50%, 20%);
	--fusiondoc-orange-a50: hsla(40, 100%, 50%, 50%);

	--fusiondoc-magenta: hsl(320, 100%, 50%);
	--fusiondoc-magenta-p1: hsl(320, 100%, 60%);
	--fusiondoc-magenta-p2: hsl(320, 100%, 80%);
	--fusiondoc-magenta-n1: hsl(320, 100%, 40%);
	--fusiondoc-magenta-n2: hsl(320, 100%, 20%);
	--fusiondoc-magenta-a10: hsl(320, 100%, 50%, 10%);
	--fusiondoc-magenta-a20: hsl(320, 100%, 50%, 20%);
	--fusiondoc-magenta-a50: hsl(320, 100%, 50%, 50%);

	--fusiondoc-grey: hsl(240, 5%, 60%);
	--fusiondoc-grey-p1: hsl(240, 5%, 70%);
	--fusiondoc-grey-p2: hsl(240, 5%, 80%);
	--fusiondoc-grey-n1: hsl(240, 5%, 40%);
	--fusiondoc-grey-n2: hsl(240, 5%, 20%);
	--fusiondoc-grey-a10: hsl(240, 5%, 60%, 10%);
	--fusiondoc-grey-a20: hsl(240, 5%, 60%, 20%);
	--fusiondoc-grey-a50: hsl(240, 5%, 60%, 50%);
}